{
  "extends": "@antfu",
  "rules": {
    // Note: you must disable the base rule as it can report incorrect errors
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "warn",
    "vue/component-tags-order": ["error", {
      "order": ["template", "script", "style"]
    }],
    "vue/max-attributes-per-line": ["error", {
      "singleline": {
        "max": 1
      },      
      "multiline": {
        "max": 1
      }
    }]
  }
}
